alabaster==0.7.12
argh==0.26.2
Babel==2.6.0
bumpversion==0.5.3
cffi==1.11.5
Click==7.0
coverage==4.1
cryptography==1.4
docutils==0.14
enum34==1.1.6
flake8==2.6.0
idna==2.7
imagesize==1.1.0
ipaddress==1.0.22
Jinja2==2.10
MarkupSafe==1.1.0
mccabe==0.5.3
pathtools==0.1.2
pluggy==0.3.1
py==1.7.0
pyasn1==0.4.4
pycodestyle==2.0.0
pycparser==2.19
pyflakes==1.2.3
Pygments==2.3.0
pytest==2.9.2
pytsort==0.1.2
pytz==2018.7
PyYAML==3.11
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.4.4
tox==2.3.1
virtualenv==16.1.0
watchdog==0.8.3
